<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/APonce911" target="_blank" class="external-link"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/airtonponce/" target="_blank" class="external-link"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/ton_anywhere" target="_blank" class="external-link"><i class="fab fa-instagram"></i></a>
    <a href="https://x.com/ton_anywhere" target="_blank" class="external-link"><i class="fab fa-x-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Airton Ponce Blog & Portfolio. 2026
  </div>
</div>
