.current {
  font-weight:bold;
  box-shadow: inset 0px -2px $orange;
}
body {
  left:0;
  top:0;
  background-color: $light-grey;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: $dark-grey;
  letter-spacing:0.05em;
}

h1, h2, h3, h4{
  color: #95A4A7;
  font-weight: 400;
  font-variant: small-caps;
  margin-bottom:0
}

h1{
  font-size: 22px;
  font-size: 1.375rem;

}
h2{
  font-size: 20px;
  font-size: 1.25rem;

}
h3{
  font-size: 18px;
  font-size: 1.125rem;
}

p, li, a {
  font-weight: 400;
  line-height: 1.4em;
  font-size: 16px;
  font-size: 1rem;
  text-align:left;
}
ul{
  -webkit-padding-start: 21px;
}
ol{
  -webkit-padding-start: 21px;
}
li{
  margin-bottom:5px;
}
a{
  color: $dark-grey;
  text-decoration:none ;
  margin-bottom:2px;
  padding-bottom: 2px;
  box-shadow: inset 0px -2px $light-orange;
}
a:hover{
  box-shadow: inset 0px -2px $orange;
}

.external-link:hover{
  cursor: cell;
}

.wrapper{
// min-height:calc(100vh - 15px);
  min-height:100vh;
  border: 0px;
  padding:0px;
  margin-bottom: -90px;
}
.push{
  height: 90px;
}
.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.language-box{
  position: absolute;
  margin:0;
  top: 5px;
  right: 5px;
  font-variant: small-caps;

}
.social-media-links a{
  box-shadow: 0px 0px;
}
.social-media-links a:hover{
  box-shadow: inset 0px -2px $orange;
}
.title-link {
  font-size: 18px;
  font-size: 1.125rem;
  color: #95A4A7;
  font-weight: 400;
  font-variant: small-caps;
  margin-bottom:0px;
  padding-bottom: 3px;
  box-shadow: inset 0px -2px $light-orange;
}
.img-lg {
  max-width: 100%;
}

@media (min-width: 38rem) {
  .container {
    padding: 3rem 1rem;
  }
  ul{
    -webkit-padding-start: 40px;
  }
  ol{
    -webkit-padding-start: 40px;
  }
  .language-box{
    top: 15px;
    right: 15px;
  }
}

